body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
  color: coral;
  font-size: 60px;
  font-weight: bold;
  font-family: 'Barriecito', cursive;
  margin-top: 70px;
}

p {
  font-family: 'Barriecito', cursive;
  font-size: 20px;
  color: white;
}

.container {
  margin-bottom: 70px;
}

.ratings {
  color: yellow;
  font-family: 'Barriecito', cursive;
  font-size: 20px;
  margin-top: 20px;
}

.btn {
  background: lightcoral;
  color: white;
  border-color: palevioletred;
  font-weight: bold;
}

.btn-primary {
  background: yellow;
  color: olive;
  border-color: olive;
  font-weight: bold;
  margin-right: 2%;
  margin-bottom: 2%;
}

#add {
  font-family: 'Barriecito', cursive;
  font-size: 20px;
  color: white;
}